body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lapidary',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Lapidary";
  src: url("b36b02b9905c9b6b90960ea5777cfdf9.eot");
  /* IE9*/
  src: url("b36b02b9905c9b6b90960ea5777cfdf9.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("b36b02b9905c9b6b90960ea5777cfdf9.woff2") format("woff2"),
    /* chrome、firefox */
    url("b36b02b9905c9b6b90960ea5777cfdf9.woff") format("woff"),
    /* chrome、firefox */
    url("b36b02b9905c9b6b90960ea5777cfdf9.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("b36b02b9905c9b6b90960ea5777cfdf9.svg#Lapidary 333 W03 Bd") format("svg");
  /* iOS 4.1- */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}